[package]
name = "bot-rs-core"
version = "0.1.0"
authors = ["mo_blaa <moblaa@gmx.net>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
irc-rust = "0.1.5"

[build-dependencies]
rustc_version = "0.2.3"
